In [2]:
!pip install requests
!pip install bs4

Requirement already satisfied: requests in c:\users\lucas\anaconda3\lib\site-packages (2.27.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\lucas\anaconda3\lib\site-packages (from requests) (3.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\lucas\anaconda3\lib\site-packages (from requests) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\lucas\anaconda3\lib\site-packages (from requests) (1.26.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\lucas\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: bs4 in c:\users\lucas\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\lucas\anaconda3\lib\site-packages (from bs4) (4.10.0)
Requirement already satisfied: soupsieve>1.2 in c:\users\lucas\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.2.1)

In [3]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
import numpy as nd

In [4]:
url_base='https://www.br.undp.org/content/brazil/pt/home/idh0/rankings/idh-global.html'
req = requests.get(url_base)

if req.status_code == 200:
    print('Site linkado')
    conteudo = req.content
    soup = BeautifulSoup(conteudo, 'html.parser')
    tabela_IDH= soup.find(name='table')
    tabela_str=str(tabela_IDH)
    IDH_2014=pd.read_html(url_base, match='País')
    
    IDH_2014

Site linkado

In [5]:
IDH_2014_1=IDH_2014[0].dropna()
IDH_2014_1
IDH_2014_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 193 entries, 0 to 192
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Ranking IDH Global  193 non-null    object
 1   País                193 non-null    object
 2   IDH 2014            193 non-null    object
dtypes: object(3)
memory usage: 6.0+ KB

In [6]:
IDH_2014=IDH_2014_1
IDH_2014

,Ranking IDH Global,País,IDH 2014
0,Muito Alto Desenvolvimento Humano,Muito Alto Desenvolvimento Humano,Muito Alto Desenvolvimento Humano
1,1,Noruega,0944
2,2,Austrália,0935
3,3,Suíça,0930
4,4,Dinamarca,0923
...,...,...,...
188,185,Chade,0392
189,186,Eritrea,0391
190,187,República Centro Africana,0350
191,188,Níger,0348
192,OUTROS PAÍSES E TERRITÓRIOS,OUTROS PAÍSES E TERRITÓRIOS,OUTROS PAÍSES E TERRITÓRIOS

In [7]:
IDH_2014=IDH_2014[["País","IDH 2014"]]

In [8]:
IDH_2014

                                  País                           IDH 2014
0    Muito Alto Desenvolvimento Humano  Muito Alto Desenvolvimento Humano
1                              Noruega                               0944
2                            Austrália                               0935
3                                Suíça                               0930
4                            Dinamarca                               0923
..                                 ...                                ...
188                              Chade                               0392
189                            Eritrea                               0391
190          República Centro Africana                               0350
191                              Níger                               0348
192        OUTROS PAÍSES E TERRITÓRIOS        OUTROS PAÍSES E TERRITÓRIOS

[193 rows x 2 columns]

In [9]:
IDH_2014

                                  País                           IDH 2014
0    Muito Alto Desenvolvimento Humano  Muito Alto Desenvolvimento Humano
1                              Noruega                               0944
2                            Austrália                               0935
3                                Suíça                               0930
4                            Dinamarca                               0923
..                                 ...                                ...
188                              Chade                               0392
189                            Eritrea                               0391
190          República Centro Africana                               0350
191                              Níger                               0348
192        OUTROS PAÍSES E TERRITÓRIOS        OUTROS PAÍSES E TERRITÓRIOS

[193 rows x 2 columns]

In [10]:
IDH_2014=IDH_2014.set_index('País')

In [11]:
IDH_2014=IDH_2014.drop(['Muito Alto Desenvolvimento Humano','ALTO DESENVOLVIMENTO HUMANO','MÉDIO DESENVOLVIMENTO HUMANO','BAIXO DESENVOLVIMENTO HUMANO','OUTROS PAÍSES E TERRITÓRIOS'])

In [12]:
IDH_2014.info()

<class 'pandas.core.frame.DataFrame'>
Index: 188 entries, Noruega to Níger
Data columns (total 1 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   IDH 2014  188 non-null    object
dtypes: object(1)
memory usage: 2.9+ KB

In [15]:
IDH_2014['IDH 2014']= [zeroaesquerda.lstrip('0') for zeroaesquerda in IDH_2014['IDH 2014']]
print (str(IDH_2014))

                          IDH 2014
País
Noruega                        944
Austrália                      935
Suíça                          930
Dinamarca                      923
Países Baixos                  922
...                            ...
Burundi                        400
Chade                          392
Eritrea                        391
República Centro Africana      350
Níger                          348

[188 rows x 1 columns]

In [18]:
IDH_2014.info()

<class 'pandas.core.frame.DataFrame'>
Index: 188 entries, Noruega to Níger
Data columns (total 1 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   IDH 2014  188 non-null    object
dtypes: object(1)
memory usage: 2.9+ KB

In [20]:
IDH_2014['IDH 2014']=IDH_2014['IDH 2014'].astype(int)

In [21]:
IDH_2014.info()

<class 'pandas.core.frame.DataFrame'>
Index: 188 entries, Noruega to Níger
Data columns (total 1 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   IDH 2014  188 non-null    int32
dtypes: int32(1)
memory usage: 6.3+ KB

In [22]:
IDH_2014.to_excel('IDH_2014_manipulado.xlsx')